@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Josefin+Sans&display=swap');

body{
    font-family: "Josefin Sans";
    font-weight: normal;
    font-size: 20px;
    color: #fff;
}

.container{
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 40px;
}
